.box p{
  color: #eee !important;
}
.box-sidebar-biru{
  background-color: #485FC7 !important;
  color: #eee !important;
}
.box-sidebar-merah-ati{
  background-color: #AD2029 !important;
  color: #eee !important;
}
